body {
	color: #aa55ff;
}

h1 {
	font-size: 1.5em;
	padding-left: 1em;
}

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
}

.comment {
	font-style: italic;
}

.story {
	font-weight: thin;
}